html {
  box-sizing: border-box;
}
*, *:after, *:before {
  box-sizing: inherit;
}

html {
  font-family: $base-font;
  font-size: 14px;
  line-height: 1.5em;
}

body {
  background-color: $bg-color;
  background-image: url("../img/global-bg.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  width: 100%;
  max-width: $xl;

  // margin: 0 auto;
  // overflow-x: hidden;

  // transition: opacity 1s ease 0s;
  // opacity: 1;

  @include lg-min {
    padding: 0 $gutter;
  }

  @include lg {
    padding: 0 $gutter / 2;
  }
}

a {
  text-decoration: none;
  color: $light-color;

  &:hover,
  &:focus {
    color: $main-color;
  }
}

.outer {
  display: flex;

  @include lg {
    flex-wrap: wrap;
  }
}

.item-img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

// p {
//   color: $gray-color;
// }



// .img-responsive {
//   display: block;

//   width: 100%;
//   max-width: 100%;
//   height: auto;
// }