
@mixin text-shadow {
  text-shadow: 1px 1px 3px $dark-color, 1px 1px 10px $dark-color; // миксин для тени текста
}

@mixin bg-color($alpha: 0.5, $color: $dark-color) { // создал миксин с переменными чтобы потом издеваться над готовым цветом.
  background: rgba($color, $alpha); 
}

@mixin text-cropped {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
