.widget-categories {

  @extend %widget;

  &__list {

    margin: 0;
    padding: 0;
    list-style: none;

    &-item {
      
      a {
        display: block;
        padding: 5px 0;
        transition: padding-left 0.5s;
        border-radius: 4px;
        
        &:hover {
          padding-left: 10px;
          color: $main-color;
          
          @include bg-color;
          @include text-shadow;
        }
      }
    }
  }
}