.header {
  background-color: rgba($dark-color, 0.5);
  margin-bottom: $gutter;
  min-height: 100px;
  border-radius: 0 0 7px 7px;
  overflow: hidden; // чтобы не выходил за пределы скруглённых углов в хедер-меню.
}