.header-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include sm-min {
    padding: $gutter + $gutter / 2 $gutter / 2; // 45px 15px (gutter = 30px)
  }

  @include sm {
    padding: $gutter / 2 $gutter / 2; // 15px 15px
  }

  &__img {
    display: block;
    width: 100%;

    @include sm-min  {
      max-width: 400px;
      margin-bottom: $gutter; // 30px
    }

    @include sm {
      max-width: 250px;
      margin-bottom: $gutter / 2; // 60px
    }
  }

  &__title {
    display: block;
    text-align: center;
    margin-bottom: 15px;
    color: $light-color;
    font-family: $header-font;
    font-weight: 300;
    letter-spacing: 5px;

    @include sm-min {
      font-size: 3rem;
      line-height: 3.5rem;
    }

    @include sm-xs {
      font-size: 2rem;
      line-height: 2.5rem;
    }

    @include xs {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__subtitle {
    display: block;
    text-align: center;
    color: $light-color;
    font-weight: 700;
    letter-spacing: 3px;
  }
}